#cart{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* padding-block:50px;
    margin-inline: auto; */
    display: none;
    background-color: rgba(0, 0, 0, 0.725);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#cart .cart-container{
    margin-top: 0;
    /* width: 90%; */
    padding: 20px;
    height: fit-content;
    margin-inline: auto;
    border-radius: 25px;
    background-image: linear-gradient(75deg,rgba(144, 142, 142, 0.7),rgba(193, 190, 190, 0.5));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    

}

#cart .cart-container .recipt{

    height: 500px;
    width: 600px;
    /* background-color: purple; */
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    

}

#cart .cart-container .list{
    height:500px ;
    width: 400px;
    /* background-color: blueviolet; */
    margin-left: 20px;
    border: 1px solid orange;
    border-radius: 25px;
    /* display: flex; */
    /* align-items: center; */
}


#cart .cart-container .recipt input{
    height: 30px;
    width: 80%;
    background-color: transparent;
    border:none;
    text-align: start;
    outline: none;
    cursor: default;
    color: white;

}

#cart .cart-container .recipt label{
    color: white;
    border-bottom: 2px solid rgb(3, 252, 3);
    /* margin-left: 30px; */
    width: 90%;
}
#cart .cart-container .action{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid orange;
}


#cart .cart-container .recipt .action .check{
    background-color: orangered;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid orange;
    color: rgb(253, 253, 253);
    /* background-color: rgb(5, 220, 5); */
    cursor: pointer;
    transition: background-color 0.5s ease;
}
#cart .cart-container .recipt .check:hover{
    
    background-color: rgb(254, 110, 57);
    /* opacity: 0.8; */
}
#cart .cart-container .recipt .action .buy{
    padding: 15px;
    border-radius: 25px;
    border: 1px solid orange;
    color: rgb(253, 253, 253);
    cursor: pointer;
    background-color: rgb(4, 186, 4);
    transition: background-color 0.5s ease;
}
#cart .cart-container .recipt .action .buy:hover{
    background-color:rgb(5, 220, 5) ;
    /* opacity: 0.5; */
}


#cart .cart-container .recipt .basicinfo{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid orange;
   
}
#cart .cart-container .recipt .basicinfo img{
    height: 60px;
    width: 60px;
    border-radius:50px;
}

#cart .cart-container .recipt .basicinfo label{
    color: white;
    border-bottom: 2px solid rgb(3, 252, 3);
    width:40%;
}
#cart .cart-container .recipt .basicinfo input{
    height: 30px;
    width: 50%;
    background-color: transparent;
    border:none;
    text-align: start;
    outline: none;
    cursor: default;
    color: white;
}
#cart .cart-container .close{
    position: absolute;
    color: red;
    top: 100px;
    right: 100px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    padding: 15px;
    background-color:rgba(144, 142, 142, 0.7) ;
    border: 1px solid orange;
    border-radius: 30px;
}
#cart .cart-container .close:hover{
    color: rgb(255, 63, 63);
    background-color:rgba(236, 232, 232, 0.5);
    
}

table{
    border: 1px solid white;
    margin-left: 20px;
    margin-top: 10px;
    width: 350px;
}